<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="JKP Informatika - Novi Sad">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Novosadsko pozorište{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h2>
                {% block pdf_title %}Novosadsko pozorište{% endblock %}
            </h2>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block pdf_content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

</body>
</html>