{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login-box">
    <div class="login-logo">
        <b>UV</b>szinhaz
    </div>
    <div class="login-box-body">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
</div>
{% endblock fos_user_content %}
