{# app/Resources/views/Emails/request.html.twig #}
<h4>Hvala što ste poručili ulaznice za {{ p_title }}</h4>

<h4>Vaša rezervacija:</h4>
<p>Datum i vreme: {{ p_datum_predstave }}</p>
<p>Sala: {{ p_scena }}</p>
<p>Broj ulaznica: 2</p>
<p>Ukupan iznos: {{ p_sum }}</p>

<p>Vaše ulaznice treba da preuzmete najkasnije pola sata pre početka projekcije</p>

<p>Novosadsko pozorište<br/><a href="http://www.uvszinhaz.com/">www.uvszinhaz.com/</a></p>