{# app/Resources/views/Emails/request.html.twig #}
<h4>Hvala što ste poručili ulaznice za {{ item.performance.title }}</h4>

<h4>Vaša rezervacija:</h4>
<p>Datum i vreme: {{ item.performance.title }}</p>
<p>Sala: 5</p>
<p>Broj ulaznica: 2</p>
<p>Ukupan iznos: 740.00</p>

<p>Vaše ulaznice treba da preuzmete najkasnije pola sata pre početka projekcije</p>

<p>Novosadsko pozorište<br/><a href="http://www.uvszinhaz.com/">www.uvszinhaz.com/</a></p>