{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        {% set profile_picture_path = false %}
        {% if user.getImageName() is not empty %}
            {% set profile_picture_path = 'images/profile/'~ user.getImageName() %}
        {% endif %}
        {{ macro.avatar(profile_picture_path, user.getName, 'profile-user-img img-responsive img-circle') }}
    </div>
    <div class="pull-left info">
        <p>{{ user.name }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
